@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #fff;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary {
    background-color: #6C757D;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}








* {
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

:root {
    --white: #fff;
    --black: #000;
    --textHover: yellow;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
}

/* Navbar Styling Start*/
.navBar {
    background: rgba(0, 0, 0, 0.8);
    height: 12vh;
}

.navBar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar ul li {
    margin: 5px;
}

.navBar ul li a {
    padding: 5px;
}

.navBar ul li a:hover {
    color: var(--textHover);
}

.navBar ul li a.active {
    color: var(--textHover);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar Styling End*/

/* Container Styling start*/
.containerSections {
    position: relative;
    height: 88vh;
    padding: 5px;
}

.container-fluid {
    height: 88vh;
    overflow-y: auto;
    padding: 0px;
    scroll-behavior: smooth;
}

/* Container Styling End*/

.cover {
    width: 100%;
    max-height: 88vh;
    border-radius: 10px;
}

.welcome {
    display: none;
    width: 100%;
    font-size: 4rem;
    color: yellow;
    position: absolute;
    top: 10%;
    text-align: center;
}

.card {
    overflow: hidden;
    transition: transform 0.2s linear;
}

.card-body {
    padding: 0px;
}

.card-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: var(--white);
}

.serviceTypes {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 300px;
    height: 200px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card:hover .image {
    filter: brightness(30%);
}

.card:hover .card-footer {
    display: block;
}


.card,
.card-footer {
    display: none;
}


/* Projects */
.projectContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.projectSlide {
    display: flex;
    width: calc(250px * 18);
}

.projectSlide {
    animation: scroll 40s linear infinite;
}

.projectSlide:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-250px *9));
    }
}

.projectImage {
    width: 300px;
    height: 300px;
}

.carousel-item {
    text-align: center;
}

/* Gallery start */
.galleryImageContainer {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.gallery-image {
    width: 200px !important;
    height: 200px;
}

/* Gallery end */

/* About Us start */
.aboutFrame {
    background: #000;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.headphone {
    width: 90px;
    height: 90px;
}

.contact-image {
    font-size: 20px;
    color: #fff;
}

.card.prize {
    width: 300px;
    height: 80%;
}

.card-head {
    border-bottom: 3px solid #0f0;
}

.card-body {
    padding: 1%;
}

.card-body .num {
    width: 150px;
    height: 150px;
    margin: 0 auto 0 auto;
    padding-top: 20%;
    border-radius: 50%;
    text-align: center;
    background-color: #0f0;
    color: #fff;
}

.card-body .num span {
    font-size: 25px;
    font-weight: bold;
}

.card-foot ul li {
    padding: 5px;
}

/* About Us end */